[Desktop Entry]
Encoding=UTF-8
Name=Lien vers README.md
Type=Link
URL=https://cdn.discordapp.com/attachments/523208278629416964/695634531310632991/README.md
Icon=text-markdown
